{if $printed_files}
	<h2>Список недавних файлов</h2>
	{foreach $printed_files as $pf}
		<p><a href="/printed/{$pf}" download target="_blank">{$pf}</a> <span class="delete_printed">x</span></p>
	{/foreach}
	<br/>
{/if}